.navigation-link
{
	text-decoration: none;
	color: inherit;
}

.download-button
{
	display: inline;
	background-color: white;
	color: black;
	border: none;
}

.burger
{
	background-color: white;
	color: black;
	border: none;
}