.main-hero
{
	position: relative;
	height: 100vh;
	/* overflow-y: auto; */
	/* background-color: black; */
}

.parallax-container
{
	scrollbar-width: none;
}

.main-img-pos
{
	width: 40%;
	aspect-ratio: 1/1.2;
}

.main-img-bg
{
	background-image: url(/assets/profile2.png);
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
}

.hero-card-container
{
	display: flex;
	justify-content: flex-end;
}

.container-pos1
{
	padding-right: 10rem;
}
.container-pos2
{
	padding-right: 35rem;
}
.container-pos3
{
	padding-right: 15rem;
}