.main-hero
{
	position: relative;
	height: 100vh;
	/* overflow-y: auto; */
	/* background-color: black; */
}

.main-img-pos
{
	width: 50%;
	aspect-ratio: 1/1.2;
}

.main-img-bg
{
	background-image: url(/assets/profile2.png);
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
}